<div class="content-wrapper center">
    <h1>Telegram Analyzer Web</h1>

    <h2>Web-UI for the results of the analysis of telegram channels / groups</h2>

    <p>
        I have extracted the messages from the telegram channels listed below and put them into a format that is easy to handle. This data is fed into a search engine which runs in your browser.
        The search engine now returns all messages of the selected channels chronologically and generates a bar chart to have an overview.
        But this could led to slow performance on low computers and also to performance holes when big data sizes are computed.
    </p>

    <app-search></app-search>

</div>


<router-outlet></router-outlet>