.wrapper {
    width: 100%;
}

.chart-wrapper {
    height: 600px;
    width: 1280px;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.message-body {
    margin: 10px;
    border: 1px solid black;
    border-bottom: 5px solid black;
}
